/* 0 is clearest, 3 darkest */
:root {
    --theme-0-color: #ECECEC;
    --theme-1-color: #65CCB8;
    --theme-2-color: #3B945E;
    --theme-3-color: #182628;
}

body {
  padding: 0;
  margin: 0;
  background: var(--theme-0-color);
}
/*--- navigation bar ---*/
.navbar {
    background: var(--theme-1-color);
}
.nav-link,
.navbar-brand {
  color: var(--theme-3-color);
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover{
  color: var(--theme-2-color);
}
.navbar-collapse {
  justify-content: flex-end;
}

a {
  color: var(--theme-2-color);
  text-decoration: none;
}

a:hover {
    color: var(--theme-3-color);
    text-decoration: none;
}



