/* 0 is clearest, 3 darkest */
:root {
    --theme-0-color: #ECECEC;
    --theme-1-color: #65CCB8;
    --theme-2-color: #3B945E;
    --theme-3-color: #182628;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

body {
  padding: 0;
  margin: 0;
  background: var(--theme-0-color);
  color: theme-3-color;
}

.full-width {
    padding: 0;
    margin: 0;
}

html { font-size: 0.8rem; }

@media (min-width: 576px) {
    html { font-size: 1rem; }
}



/*--- navigation bar ---*/
.navbar {
    background: var(--theme-1-color);
}
.nav-link,
.navbar-brand {
  color: var(--theme-3-color);
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover{
  color: var(--theme-2-color);
}
.navbar-collapse {
  justify-content: flex-end;
}

a {
  color: var(--theme-2-color);
  text-decoration: none;
}

a:hover {
    color: var(--theme-3-color);
    text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--theme-2-color);
    border-color: var(--theme-2-color);
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: var(--theme-1-color);
    border-color: var(--theme-1-color);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--theme-1-color);
    border-color: var(--theme-1-color);
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: var(--theme-2-color);
    border-color: var(--theme-2-color);
    color: white;
}


.flag {
    width: 40;
    height: 20;
}

.activenav>path{ 
    fill: white;
    opacity : 0.5;
}

.navicon {
    width: 25;
    height: 25;
}
