

body {
    background: #ECECEC;
}

h1 {
    color:#65CCB8;
}


a {
    display: block;
    text-align: center;
    color: #3B945E;
    text-decoration: none;
}

a:hover {
    color: #182628;
    text-decoration: none;
}

