{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<br>
<div class="container">
  <h2>{% trans "Log in" %}</h2>
  {% if form.errors %}
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  {% for error in form.username.errors %}
  <p class="text-danger">{{ error }}</p>
  {% endfor %}
  {% endif %}  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
    </p>
    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
    </p>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
<p><a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a></p>
</div>
{% endblock %}
