{% load inlinecss %}
{% load i18n %}{% autoescape off %}
{% inlinecss "css/emails.css" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
	<h1> {% trans "Reset your password on mhios.com" %} </h1>
	{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
	<br/><br/>
	{% translate "Please go to the following page and choose a new password:" %}
	      <br/><br/>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"> {% trans "Reset your password here" %} </a>
      <br/>
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
      <br/>
      <br/>
{% translate "Thanks for using our site!" %}
      <br/>
	{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
    </body>
</html>
{% endinlinecss %}
{% endautoescape %}
