{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static 'css/myopenstories.css' %}" rel="stylesheet" >
{% endblock %}

{% block body %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item text-center active">
      <img class="first-slide img-fluid" src="{% static 'media/carousel_0.jpg' %}" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <p class="d-none d-sm-block"><a class="btn btn-lg btn-primary" href="{% url 'library:index' %}" role="button">{% trans "Browse the library" %}</a></p>
	  <h2>{% trans "Designed by anyone. Free to anyone." %}</h2>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="second-slide img-fluid" src="{% static 'media/carousel_1.jpg' %}" alt="Second slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <p class="d-none d-sm-block"><a class="btn btn-lg btn-primary" href="{% url 'reader:index' %}" role="button">{% trans "Go to interactive teller" %}</a></p>
	  <h2>{% trans "Build your own adventures." %}</h2>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="third-slide img-fluid" src="{% static 'media/carousel_2.jpg' %}" alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <p class="d-none d-sm-block"><a class="btn btn-lg btn-primary" href={% url 'signup' %} role="button">{% trans "Sign up today" %}</a></p>
	  <h2>{% trans "Stash favourite stories to find them easily." %}</h2>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="fourth-slide img-fluid" src="{% static 'media/carousel_3.jpg' %}" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <p class="d-none d-sm-block"><a class="btn btn-lg btn-primary" href="{% url 'reader:index' %}" role="button">{% trans "Listen to a story" %}</a></p>
	  <h2>{% trans "Enjoy interactive stories with our reader." %}</h2>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="fifth-slide img-fluid" src="{% static 'media/carousel_4.jpg' %}" alt="Fifth slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <p class="d-none d-sm-block"><a class="btn btn-lg btn-primary" href="forum" role="button">{% trans "Explore the forum" %}</a></p>
	  <h2>{% trans "Discuss anything from stories to unicorns." %}</h2>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Previous" %}</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Next" %}</span>
  </a>
</div>
<br/>
<!-- Marketing messaging and featurettes
     ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing text-center">
  <h1>
    <span class="mhiosblock"> <span class="mhiosmaj">M</span>es <span class="mhiosmaj">H</span>istoires</span> <span class="mhiosblock"><span class="mhiosmaj">I</span>nteractive<span class="mhiosfade">s</span></span> <span class="mhiosblock"><span class="mhiosmaj">O</span>pen <span class="mhiosmaj">S</span>tories</span>
  </h1>
</div>
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="{% static 'media/library_poster.jpg' %}" alt="Generic placeholder image" width="140" height="140">
      <h2>{% trans "Open library" %}</h2>
      <p>{% trans "Designed to encourage the sharing of interactive stories created by the community for the community, mhios is an open repository for stories in the" %} <a href="https://marian-m12l.github.io/studio-website">STUdio</a>* {% trans "format, a set of tools to read and create interactive stories with possibility to transfer from and to the" %} <a href="https://www.lunii.fr"> lunii</a>*{% trans " story teller device." %}</p>
      <p>{% trans "Registration is not necessary to browse or download the stories. Registered users can upload their own stories and vote for their favourite stories." %}</p>
      <p><a class="btn btn-secondary" href="{% url 'library:index' %}" role="button">{% trans "Explore library" %} &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="{% static 'media/reader_poster.jpg' %}" alt="Generic placeholder image" width="140" height="140">
      <h2>{% trans "Story teller" %}</h2>
      <p>{% trans "mhios includes an interactive story teller which can be used to read interactively any story available in the library." %}</p>
      <p> {% trans "Registration is not necessary to listen to the stories. To facilitate access to your favourite stories, register freely to create your online personal library and stash your private selection." %} </p>
      <p><a class="btn btn-secondary" href="{% url 'reader:index' %}" role="button">{% trans "Bring stories to life" %} &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="{% static 'media/forum_poster.jpg' %}" alt="Generic placeholder image" width="140" height="140">
      <h2>{% trans "Discussion forum" %}</h2>
      <p>{% trans "The discussion forum is the right place to discuss stories, the use of" %} <a href="https://marian-m12l.github.io/studio-website">STUdio</a>* {% trans "or" %} <a href="https://www.lunii.fr"> lunii</a>* {% trans "devices, suggestions and improvements for this website, or anything else you think relevant." %}</p>
      <p><a class="btn btn-secondary" href="forum" role="button">{% trans "Enjoy discussions" %} &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->
<!-- FOOTER -->
<footer class="container">
  <p * class="float-right"><a href="legal">{% trans "Privacy/Legal" %}</a></p>
  <p>*{% trans "mhios is not affiliated with" %} <a href="https://marian-m12l.github.io/studio-website">STUdio</a> {% trans "or" %} <a href="https://www.lunii.fr"> lunii</a> {% trans "in any way" %}</p>
</footer>
{% endblock %}
