

/* Index of library */

.dropdown {
    text-align: center;
}

.dropdown-toggle {
    margin-top:7px;
    margin-bottom:3px;
}

.story-line {
    background: #ffffff;
    margin-top:7px;
    margin-left:0px;
    margin-right:0px;
    border-radius:7px;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    color:var(--theme-3-color);
}

.story-title {
    font-size:larger;
}

.poster {
    border-radius:7px;
}

/* Add story */
.preview-poster {
    max-width: 100%;
    max-height: 442.5px;/*Such that it is never bigger than the left column */
    display : block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.form-poster {
    background: #ffffff;
    border-radius:7px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* only for md screens and larger */
/* we make the two columns of same height */
@media screen and (min-width: 720px){
  .form-poster{
    height:535px;
  }
}

.progress-bar {
    background-color : var(--theme-1-color);
}

.progress {
    background-color : var(--theme-0-color);
}
