{% load inlinecss %}
{% load i18n %}{% autoescape off %}
{% inlinecss "css/emails.css" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
      <h1> {% trans "You are one click away from the stories!" %} </h1>
      {% trans "You email address needs to be validated in order to confirm your account at www.mhios.com" %}
          <br/><br/>
	  <a href="{{ link }}">{% trans "Validate your address here" %}</a>
	        <br/>
		{% translate "Thanks for using our site!" %}
		<br/>
		{% blocktranslate %}The www.mhios.com team{% endblocktranslate %}
    </body>
</html>
{% endinlinecss %}
{% endautoescape %}
